body {
    font-family: 'Poppins', sans-serif;
    margin: 00px;
}

.header-part {
    text-align: center;
    padding-top: 75px;
    color: rgba(7, 6, 6, 0.993);
    height: 600px;
    background-image: url(./images/donation12.png);
    background-repeat: no-repeat;
    font-size: large;
}

.first-btn {
    text-decoration: none;
    color: aliceblue;
    font-weight: 100;
    background-color: orangered;
    padding: 8px;
    border-radius: 5px;
}

.second-part {
    text-align: center;
    margin-top: 100px;
}

.money {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;

}

.donate-money {
    background-color: rgb(234, 231, 231);
    height: 100px;
    width: 150px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

#donate-money200 {
    color: red;
    background-color: rgb(240, 194, 194);
    border: 2px solid red;
    height: 100px;
    width: 125px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

.inp {
    width: 1000px;
    border-width: 0 0 2px;
    border-color: rgb(23, 23, 27);
    margin-top: 50px;
    text-align: center;
}

.helpline {
    display: flex;
    margin-top: 75px;
}



.donate-plane {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

.data-plan {
    text-align: center;
    margin-top: 100px;
}

.plane1 {
    background-color: rgb(195, 248, 248);
    height: 250px;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    margin-left: 20px;

}

#education {
    background-color: rgba(249, 250, 194, 0.801);
}

#shelter {
    background-color: rgb(248, 211, 211);
}




.helpline-img {
    width: 200%;
    margin-left: 2%;
    margin-right: 2%;
}

.helpline-img img {
    width: 60%;
    margin-left: 150px;
}

.helping-btn {
    background-color: red;
    padding: 10px;
    width: 200px;
    border-width: 00px;
    border-radius: 5px;
    color: white;

}


.updates {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
}

.form {
    background-color: rgb(237, 235, 107);
    height: 75px;
    padding: 100px;
}

.last-inp {
    border-width: 0px;
    width: 450px;
    height: 40px;
    background-color: rgb(229, 220, 220);

}

.last-btn {
    border-width: 0px;
    height: 45px;
    width: 250px;
    color: aliceblue;
    background-color: orangered;
    border-radius: 0px 5px 5px 0px;
}

footer {
    background-color: black;
    color: red;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;

}

footer h4 {
    color: white;
}