body {
    font-family: 'Poppins', sans-serif;
    margin: 00px;
}

.header-part {
    text-align: center;
    padding-top: 75px;
    color: rgba(7, 6, 6, 0.993);
    height: 600px;
    background-image: url(./images/donation12.png);
    background-repeat: no-repeat;
    font-size: large;
}

.first-btn {
    text-decoration: none;
    color: aliceblue;
    font-weight: 100;
    background-color: orangered;
    padding: 8px;
    border-radius: 5px;
}

.second-part {
    text-align: center;
    margin-top: 100px;
}

.money {
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}

.donate-money {
    background-color: rgb(234, 231, 231);
    height: 100px;
    width: 125px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

#donate-money200 {
    color: red;
    background-color: rgb(240, 194, 194);
    border: 2px solid red;
    height: 100px;
    width: 125px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

input {
    width: 1000px;
    border-width: 0 0 2px;
    border-color: blue;
    margin-top: 50px;
    text-align: center;
}